---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Button } from '../components/Button';
import {ShoppingWeek} from '../components/ShoppingWeek';
const buyList = [
	'controller',
	'Bread',
	'Water',
	'Notebook',
	'Math Book',
	'Choco Bar',
	'Milk'
];
import {Cards} from '../components/Cards';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 style="text-align: center;">LABORATORIO 6</h1>
		<Cards client:load/>
	</main>
</Layout>

<style>
	h1{
		color:aliceblue
	}
</style>
